@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #0E1734;
  border-radius: 4px;
}

.button__header {
  padding: 14px 16px;
}

.button__logo, .button__about, .button__rooms, .button__connection {
  padding: 16px 32px;
}

.button__rooms {
  margin-bottom: 104px;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #192252;
}

.title__logo {
  font-size: 48px;
  margin-bottom: 24px;
}

.title__about, .title__rooms, .title__connection {
  margin-bottom: 24px;
}

.text {
  color: #848FAC;
}

.text__logo {
  max-width: 92%;
  margin-bottom: 32px;
}

.text__about {
  max-width: 82%;
  margin-bottom: 32px;
}

.text__about_mb {
  margin-bottom: 16px;
}

.text__about_mw {
  min-width: 92%;
}

.text__rooms {
  text-align: center;
  max-width: 50%;
  margin-bottom: 32px;
}

.text__connection {
  max-width: 92%;
  margin-bottom: 32px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.header__logo {
  color: #192252;
  font-size: 32px;
  font-weight: 600;
  line-height: 82.05128%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #192252;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 160px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__wrapper {
  -ms-flex-preferred-size: 523px;
      flex-basis: 523px;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 590px;
          flex: 0 1 590px;
  max-height: 588px;
}

.logo__item {
  margin-left: 4.16667%;
}

.logo__item:nth-child(1) {
  margin-left: 0;
}

.logo__item:nth-child(2) {
  margin-top: 13.63636%;
}

.logo__img {
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 80px 0;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 384px;
          flex: 0 0 384px;
}

.about__wrapper {
  -ms-flex-preferred-size: 615px;
      flex-basis: 615px;
}

.scope {
  padding: 80px 0;
}

.scope__activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.scope__activities_mb {
  margin-bottom: 32px;
}

.scope__wrapper {
  -ms-flex-preferred-size: 584px;
      flex-basis: 584px;
}

.scope__wrapper .text__about_mr {
  max-width: 100%;
}

.rooms {
  padding: 80px 0;
}

.rooms__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.rooms__item {
  max-width: 384px;
}

.rooms__image {
  max-width: 100%;
  margin-bottom: 32px;
}

.rooms__img {
  width: 100%;
}

.rooms__image-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  margin-bottom: 16px;
}

.rooms__image-subtext {
  margin-bottom: 32px;
}

.rooms__more {
  color: #424F7B;
  max-width: 97px;
  position: relative;
  cursor: pointer;
}

.rooms__more:before {
  content: '';
  background: url("../../assets/images/rooms/arrowMore.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  right: -32px;
  top: 4.5px;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.connection__contact {
  max-width: 417px;
}

.connection__steps {
  min-width: 588px;
}

.connection__suptext {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}

.connection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__more {
  margin-left: 24px;
  font-size: 16px;
  line-height: 94.73684%;
  cursor: pointer;
  color: #0E1734;
}

.connection__step-item {
  padding: 32px 36px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
  margin-bottom: 24px;
  border-radius: 4px;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  cursor: pointer;
}

.connection__step-item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connection__step-title {
  position: relative;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: #424F7B;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title:after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFECE2;
  position: absolute;
  top: -6px;
  right: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/connection/arrowDown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 4px;
  right: 8px;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title_active:after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF620A;
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title_active:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/connection/arrowUp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 2px;
  right: 8px;
  z-index: 3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-descr {
  display: none;
  max-width: 516px;
  margin-top: 24px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-descr_show {
  display: block;
  position: static;
}
