@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #0E1734;
  border-radius: 4px;
}

.button__header {
  padding: 14px 16px;
}

.button__logo {
  padding: 16px 32px;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #192252;
}

.title__logo {
  font-size: 48px;
  margin-bottom: 24px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.header__logo {
  color: #192252;
  font-size: 32px;
  font-weight: 600;
  line-height: 82.05128%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #192252;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 160px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.logo__subtitle {
  max-width: 82%;
  color: #848FAC;
  margin-bottom: 32px;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 590px;
          flex: 0 0 590px;
  max-height: 588px;
}

.logo__item {
  margin-left: 4.16667%;
}

.logo__item:nth-child(1) {
  margin-left: 0;
}

.logo__item:nth-child(2) {
  margin-top: 13.63636%;
}

.logo__img {
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
