@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

body.active__burger {
  overflow: hidden;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #0e1734;
  border-radius: 4px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 0 0 4px #000;
          box-shadow: 0 0 4px #000;
}

.button__header {
  padding: 14px 16px;
}

.button__logo, .button__about, .button__rooms, .button__connection {
  padding: 16px 32px;
}

.button__rooms {
  margin-bottom: 104px;
}

@media (max-width: 424px) {
  .button__rooms {
    margin-bottom: 15px;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #192252;
}

@media (max-width: 424px) {
  .title {
    font-size: 34px;
  }
}

.title__logo {
  font-size: 48px;
  margin-bottom: 24px;
}

@media (max-width: 424px) {
  .title__logo {
    font-size: 34px;
  }
}

.title__about, .title__rooms, .title__connection {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .title__about, .title__rooms, .title__connection {
    text-align: center;
  }
}

.text {
  color: #848fac;
}

.text__logo {
  max-width: 92%;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .text__logo {
    max-width: 100%;
  }
}

.text__about {
  max-width: 82%;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .text__about {
    max-width: 100%;
  }
}

.text__about_mb {
  margin-bottom: 16px;
}

.text__about_mw {
  min-width: 92%;
}

@media (max-width: 767px) {
  .text__about_mw {
    max-width: 100%;
  }
}

.text__rooms {
  text-align: center;
  max-width: 50%;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .text__rooms {
    max-width: 100%;
  }
}

.text__connection {
  max-width: 92%;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .text__connection {
    max-width: 100%;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.header__wrapper.active {
  padding-right: 50px;
}

@media (max-width: 767px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 651px) {
  .header__wrapper {
    min-height: 130px;
  }
}

@media (max-width: 374px) {
  .header__wrapper {
    min-height: 170px;
  }
}

.header__logo {
  color: #192252;
  font-size: 32px;
  font-weight: 600;
  line-height: 82.05128%;
  cursor: pointer;
}

@media (max-width: 374px) {
  .header__logo {
    padding-top: 8px;
    width: 190px;
    height: 50px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #192252;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__link:after {
  content: "";
  height: 2px;
  width: 0;
  background: #192252;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__link:hover:after {
  content: "";
  width: 100%;
  left: 0;
}

.header__nav-burger {
  display: none;
}

@media (max-width: 651px) {
  .header__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .button__header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__list {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 40px;
    z-index: 10;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list.active {
    top: 0;
    min-height: 100vh;
  }
  .header__item {
    margin: 40px 0;
    margin-right: 0;
  }
  .header__nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
  }
  .header__nav-burger .line {
    display: block;
    background: #0e1734;
    width: 100%;
    height: 4px;
    margin-bottom: 9px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__nav-burger .line:last-child {
    margin-bottom: 0;
  }
  .header__nav-burger.active {
    position: absolute;
    top: 37px;
    right: 10px;
    z-index: 20;
  }
  .header__nav-burger.active .line__two {
    display: none;
  }
  .header__nav-burger.active .line__one {
    -webkit-transform: rotate(45deg) translate(5px, 3px);
            transform: rotate(45deg) translate(5px, 3px);
  }
  .header__nav-burger.active .line__three {
    -webkit-transform: rotate(-45deg) translate(6px, -4px);
            transform: rotate(-45deg) translate(6px, -4px);
    top: 2px;
  }
}

@media (max-width: 374px) {
  .header__nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .button__header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 424px) {
  .logo {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .logo {
    padding-top: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo__wrapper {
  -ms-flex-preferred-size: 523px;
      flex-basis: 523px;
}

@media (max-width: 767px) {
  .logo__wrapper {
    margin-bottom: 60px;
    text-align: center;
  }
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 590px;
          flex: 0 1 590px;
  max-height: 588px;
}

@media (max-width: 767px) {
  .logo__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 523px;
            flex: 0 1 523px;
  }
}

.logo__item {
  margin-left: 4.16667%;
}

.logo__item:nth-child(1) {
  margin-left: 0;
}

.logo__item:nth-child(2) {
  margin-top: 13.63636%;
}

.logo__img {
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 80px 0;
}

@media (max-width: 424px) {
  .about {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .about {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__image {
  min-width: 384px;
}

@media (max-width: 424px) {
  .about__image {
    max-width: 384px;
    min-width: auto;
  }
}

.about__photo {
  width: 100%;
}

.about__wrapper {
  max-width: 615px;
}

@media (max-width: 767px) {
  .about__wrapper {
    max-width: 523px;
    text-align: center;
  }
}

.scope {
  padding: 80px 0;
}

@media (max-width: 424px) {
  .scope {
    padding: 30px 0;
  }
}

.scope__activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.scope__activities_mb {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .scope__activities_mb .scope__wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .scope__activities_mb .scope__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  .scope__activities {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.scope__image {
  max-width: 384px;
}

.scope__photo {
  width: 100%;
}

.scope__wrapper {
  -ms-flex-preferred-size: 584px;
      flex-basis: 584px;
}

@media (max-width: 767px) {
  .scope__wrapper {
    max-width: 523px;
    text-align: center;
  }
}

.scope__wrapper .text__about_mr {
  max-width: 100%;
}

.rooms {
  padding: 80px 0;
}

@media (max-width: 767px) {
  .rooms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 424px) {
  .rooms {
    padding: 30px 0;
  }
}

.rooms__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .rooms__title {
    max-width: 523px;
  }
}

.rooms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.rooms__item {
  max-width: 384px;
}

@media (max-width: 767px) {
  .rooms__item {
    text-align: center;
  }
}

.rooms__image {
  max-width: 100%;
  margin-bottom: 32px;
}

.rooms__img {
  width: 100%;
}

.rooms__image-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  margin-bottom: 16px;
}

.rooms__image-subtext {
  margin-bottom: 32px;
}

.rooms__more {
  color: #424f7b;
  max-width: 97px;
  position: relative;
  cursor: pointer;
}

.rooms__more:before {
  content: "";
  background: url("../../assets/images/rooms/arrowMore.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  right: -32px;
  top: 4.5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rooms__more:hover {
  color: #192252;
  font-size: 18.1px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

.rooms__more:hover:before {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

@media (max-width: 767px) {
  .rooms__more {
    margin: 0 auto;
  }
}

.rooms__link {
  display: block;
  width: 120px;
  color: #424f7b;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 424px) {
  .connection {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .connection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.connection__contact {
  max-width: 417px;
}

@media (max-width: 767px) {
  .connection__contact {
    margin-bottom: 40px;
    text-align: center;
  }
}

.connection__steps {
  max-width: 588px;
  -ms-flex-preferred-size: 588px;
      flex-basis: 588px;
}

.connection__suptext {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}

.connection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .connection__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.connection__more {
  margin-left: 24px;
  font-size: 16px;
  line-height: 94.73684%;
  cursor: pointer;
  color: #0e1734;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__more:hover {
  color: #192252;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

.connection__step-item {
  position: relative;
  padding: 32px 36px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
  margin-bottom: 24px;
  border-radius: 4px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.connection__step-item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connection__step-title {
  position: relative;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: #424f7b;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-right: 50px;
}

.connection__step-title:after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffece2;
  position: absolute;
  top: -6px;
  right: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/connection/arrowDown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 4px;
  right: 8px;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title_active:after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff620a;
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-title_active:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/connection/arrowUp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 2px;
  right: 8px;
  z-index: 3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.connection__step-descr {
  display: none;
  max-width: 516px;
  margin-top: 24px;
}

.connection__step-descr_show {
  display: block;
}

.clients {
  padding: 80px 0;
}

@media (max-width: 424px) {
  .clients {
    padding: 30px 0;
  }
}

.title__clients {
  text-align: center;
  margin-bottom: 62px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__image {
  margin-bottom: 44px;
}

.slider__text {
  text-align: center;
  max-width: 793px;
  margin-bottom: 40px;
}

.slider__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #0e1734;
  margin-bottom: 24px;
}

.slick-arrow {
  display: none !important;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  list-style: none;
}

.slick-dots li.slick-active button {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 12px;
  height: 12px;
  background: #ff620a;
}

.slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(250, 176, 71, 0.35);
}

.footer {
  padding: 120px 0;
  background-color: #0e1734;
  color: #d9dbde;
}

.footer__icon {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__icon:hover {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

@media (max-width: 767px) {
  .footer {
    padding: 35px 0;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  max-width: 190px;
}

@media (max-width: 767px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 36px;
  }
}

.footer__title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 82.05128%;
  margin-bottom: 13px;
}

.footer__subtitle {
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 36px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__item {
  margin-right: 24px;
}

@media (max-width: 767px) {
  .footer__item {
    margin-right: 0;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 190px;
  }
}

.footer__list-item {
  margin-right: 100px;
}

.footer__list-item:last-child {
  margin-right: 0;
  margin-left: 41px;
}

@media (max-width: 767px) {
  .footer__list-item:last-child {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .footer__list-item {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    display: none;
  }
  .footer__nav_show {
    display: block;
  }
}

.footer__list-title {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  position: relative;
}

@media (max-width: 767px) {
  .footer__list-title:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffece2;
    position: absolute;
    top: -6px;
    right: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .footer__list-title:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("../../assets/images/connection/arrowDown.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -2px;
    right: 3px;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .footer__list-title_active:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff620a;
    position: absolute;
    top: -6px;
    right: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .footer__list-title_active:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("../../assets/images/connection/arrowUp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -3px;
    right: 3px;
    z-index: 3;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.footer__nav-item {
  font-size: 16px;
  line-height: 118.75%;
  margin-bottom: 24px;
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer__nav-item:last-child {
    margin-bottom: 24px;
  }
}

.footer__nav-link {
  color: #d9dbde;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__nav-link:hover {
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}
