@import "nullstyle";
@import "fonts";

* {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;

  &.active__burger {
    overflow: hidden;
  }
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
  @media (max-width: 1200px) {
    max-width: 970px;
  }
  // @media (max-width: 992px) {
  //   max-width: 750px;
  // }
  @media (max-width: 768px) {
    max-width: none;
  }
}

// variables

$blue: #192252;
$darkBlue: #0e1734;
$lightBlue: #848fac;
$more: #424f7b;

// ************Button***************

.button {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: $darkBlue;
  border-radius: 4px;
  transition: all 0.3s linear;

  &:hover {
    transform: scale(1.06);
    box-shadow: 0 0 4px #000;
  }

  &__header {
    padding: 14px 16px;
    &_active {
    }
  }
  &__logo,
  &__about,
  &__rooms,
  &__connection {
    padding: 16px 32px;
  }
  &__rooms {
    margin-bottom: 104px;
    @media (max-width: 424px) {
      margin-bottom: 15px;
    }
  }
}

// ************Title****************

.title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: $blue;
  @media (max-width: 424px) {
    font-size: 34px;
  }
  &__logo {
    font-size: 48px;
    margin-bottom: 24px;
    @media (max-width: 424px) {
      font-size: 34px;
    }
  }
  &__about,
  &__rooms,
  &__connection {
    margin-bottom: 24px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

//************Text****************

.text {
  color: $lightBlue;
  &__logo {
    max-width: 92%;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  &__about {
    max-width: 82%;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      max-width: 100%;
    }

    &_mb {
      margin-bottom: 16px;
    }
    &_mw {
      min-width: 92%;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
  &__rooms {
    text-align: center;
    max-width: 50%;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  &__connection {
    max-width: 92%;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

// ************Header***************

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;
    &.active {
      padding-right: 50px;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media (max-width: 651px) {
      min-height: 130px;
    }
    @media (max-width: 374px) {
      min-height: 170px;
    }
  }
  &__logo {
    color: $blue;
    font-size: 32px;
    font-weight: 600;
    line-height: (32 / 39) * 100%;
    cursor: pointer;
    @media (max-width: 374px) {
      padding-top: 8px;
      width: 190px;
      height: 50px;
    }
  }
  &__list {
    display: flex;
    font-size: 16px;
    font-weight: 500;
  }
  &__item {
    margin-right: 32px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    color: $blue;
    position: relative;
    transition: all 0.3s linear;
    &:after {
      content: "";
      height: 2px;
      width: 0;
      background: $blue;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transition: all 0.3s linear;
    }
    &:hover {
      &:after {
        content: "";
        width: 100%;
        left: 0;
      }
    }
  }
  &__nav-burger {
    display: none;
  }

  @media (max-width: 651px) {
    &__nav {
      order: 3;
    }
    &__logo {
      order: 1;
    }
    .button__header {
      order: 2;
    }
    &__list {
      background-color: #fff;
      width: 100%;
      position: absolute;
      top: -1000px;
      left: 0;
      text-align: center;
      transition: all 0.3s linear;
      flex-direction: column;
      font-size: 40px;
      z-index: 10;
      padding-top: 100px;
      padding-bottom: 100px;

      justify-content: center;
      align-items: center;
      &.active {
        top: 0;
        min-height: 100vh;
      }
    }

    &__item {
      margin: 40px 0;
      margin-right: 0;
    }
    &__nav-burger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50px;
      height: 50px;
      .line {
        display: block;
        background: $darkBlue;
        width: 100%;
        height: 4px;
        margin-bottom: 9px;
        transition: all 0.3s linear;
        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        .line {
          &__two {
            display: none;
          }
          &__one {
            transform: rotate(45deg) translate(5px, 3px);
          }
          &__three {
            transform: rotate(-45deg) translate(6px, -4px);
            top: 2px;
          }
        }

        position: absolute;
        top: 37px;
        right: 10px;
        z-index: 20;
      }
    }
  }

  @media (max-width: 374px) {
    &__nav {
      order: 2;
    }
    &__logo {
      order: 1;
    }
    .button__header {
      order: 3;
    }
  }
}

// ************Main***************

// ************Logo***************

.logo {
  display: flex;
  padding: 80px 0 80px 0;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 424px) {
    padding: 30px 0;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__wrapper {
    flex-basis: 523px;

    @media (max-width: 767px) {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__image {
    display: flex;
    flex: 0 1 590px;
    max-height: 588px;
    @media (max-width: 767px) {
      flex: 0 1 523px;
    }
  }
  &__item {
    margin-left: (1 / 24) * 100%;

    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-child(2) {
      margin-top: (3 / 22) * 100%;
    }
  }
  &__img {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}

// ************About***************

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 80px 0;

  @media (max-width: 424px) {
    padding: 30px 0;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  &__image {
    min-width: 384px;
    @media (max-width: 424px) {
      max-width: 384px;
      min-width: auto;
    }
  }
  &__photo {
    width: 100%;
  }
  &__wrapper {
    max-width: 615px;
    @media (max-width: 767px) {
      max-width: 523px;
      text-align: center;
    }
  }
}

// ************Scope***************

.scope {
  padding: 80px 0;

  @media (max-width: 424px) {
    padding: 30px 0;
  }
  &__activities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &_mb {
      margin-bottom: 32px;
      @media (max-width: 767px) {
        .scope__wrapper {
          order: 2;
        }
        .scope__image {
          order: 1;
        }
      }
    }
    @media (max-width: 767px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }
  &__image {
    max-width: 384px;
  }
  &__photo {
    width: 100%;
  }
  &__wrapper {
    flex-basis: 584px;
    @media (max-width: 767px) {
      max-width: 523px;
      text-align: center;
    }

    .text__about_mr {
      max-width: 100%;
    }
  }
}

// ************Rooms***************

.rooms {
  padding: 80px 0;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 424px) {
    padding: 30px 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 767px) {
      max-width: 523px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
    flex: 1 1 33.3333%;
  }
  &__item {
    max-width: 384px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__image {
    max-width: 100%;
    margin-bottom: 32px;
  }
  &__img {
    width: 100%;
  }
  &__image-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin-bottom: 16px;
  }
  &__image-subtext {
    margin-bottom: 32px;
  }
  &__more {
    color: #424f7b;
    max-width: 97px;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      background: url("../../assets/images/rooms/arrowMore.svg");
      width: 20px;
      height: 20px;
      position: absolute;
      right: -32px;
      top: 4.5px;
      transition: all 0.3s linear;
    }
    &:hover {
      &:before {
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      }
      color: $blue;
      font-size: 18.1px;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    }
    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }
  &__link {
    display: block;
    color: #424f7b;
    transition: all 0.3s linear;
  }
}

// ************Connection***************

.connection {
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  align-content: center;

  @media (max-width: 424px) {
    padding: 30px 0;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__contact {
    max-width: 417px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
      text-align: center;
    }
  }
  &__steps {
    max-width: 588px;
    flex-basis: 588px;
  }
  &__suptext {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
  }
  &__button {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  &__more {
    margin-left: 24px;
    font-size: 16px;
    line-height: (18 / 19) * 100%;
    cursor: pointer;
    color: #0e1734;
    transition: all 0.3s linear;
    &:hover {
      color: $blue;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    }
  }
  &__step-item {
    position: relative;
    padding: 32px 36px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    margin-bottom: 24px;
    border-radius: 4px;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__step-title {
    position: relative;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: $more;
    transition: all 0.3s linear;
    padding-right: 50px;
    &:after {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffece2;
      position: absolute;
      top: -6px;
      right: 0;
      transition: all 0.3s linear;
    }
    &:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background: url("../../assets/images/connection/arrowDown.svg");
      background-repeat: no-repeat;
      background-size: cover;
      top: 4px;
      right: 8px;
      z-index: 2;
      transition: all 0.3s linear;
    }
    &_active {
      &:after {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ff620a;
        position: absolute;
        top: -6px;
        right: 0;
        z-index: 1;
        transition: all 0.3s linear;
      }
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/connection/arrowUp.svg");
        background-repeat: no-repeat;
        background-size: cover;
        top: 2px;
        right: 8px;
        z-index: 3;
        transition: all 0.3s linear;
      }
    }
  }
  &__step-descr {
    display: none;
    max-width: 516px;
    margin-top: 24px;
    &_show {
      display: block;
    }
  }
}

// ***************slider****************

.clients {
  padding: 80px 0;
  @media (max-width: 424px) {
    padding: 30px 0;
  }
}
.title__clients {
  text-align: center;
  margin-bottom: 62px;
}
.slider {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    margin-bottom: 44px;
  }
  &__text {
    text-align: center;
    max-width: 793px;
    margin-bottom: 40px;
  }
  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $darkBlue;
    margin-bottom: 24px;
  }
}

.slick-arrow {
  display: none !important;
}

.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  li {
    &.slick-active {
      & button {
        transition: all 0.3s linear;
        width: 12px;
        height: 12px;
        background: #ff620a;
      }
    }
    button {
      font-size: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(250, 176, 71, 0.35);
    }
  }
}

// ****************footer********************

.footer {
  padding: 120px 0;
  background-color: $darkBlue;
  color: #d9dbde;

  &__icon {
    transition: all 0.3s linear;
  }
  &__icon:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
  }

  @media (max-width: 767px) {
    padding: 35px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    max-width: 190px;
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 36px;
    }
  }
  &__title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: (32 / 39) * 100%;
    margin-bottom: 13px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: (28 / 16) * 100%;
    margin-bottom: 36px;
  }
  &__social {
    display: flex;
    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &__item {
    margin-right: 24px;
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 190px;
    }
  }
  &__list-item {
    margin-right: 100px;
    &:last-child {
      margin-right: 0;
      margin-left: 41px;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  @media (max-width: 767px) {
    &__nav {
      display: none;
      &_show {
        display: block;
      }
    }
  }

  &__list-title {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: (19 / 16) * 100%;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
    position: relative;

    @media (max-width: 767px) {
      &:after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffece2;
        position: absolute;
        top: -6px;
        right: 0;
        transition: all 0.3s linear;
      }
      &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: url("../../assets/images/connection/arrowDown.svg");
        background-repeat: no-repeat;
        background-size: cover;
        top: -2px;
        right: 3px;
        z-index: 2;
        transition: all 0.3s linear;
      }
      &_active {
        &:after {
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ff620a;
          position: absolute;
          top: -6px;
          right: 0;
          z-index: 1;
          transition: all 0.3s linear;
        }
        &:before {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background: url("../../assets/images/connection/arrowUp.svg");
          background-repeat: no-repeat;
          background-size: cover;
          top: -3px;
          right: 3px;
          z-index: 3;
          transition: all 0.3s linear;
        }
      }
    }
  }
  &__nav-item {
    font-size: 16px;
    line-height: (19 / 16) * 100%;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }
  &__nav-link {
    color: #d9dbde;
    transition: all 0.3s linear;
    &:hover {
      color: #fff;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
    }
  }
}
